.env
node_modules
public/uploads/*/
public/img/*/
/public/uploads/1737919162668page_notFound.jpg
/.idea/.gitignore
/public/uploads/1737919313107a76df1a0bc62f98bbcfcc5e0c2ba5f182cd41dca.jpg
/public/uploads/1737921083553a76df1a0bc62f98bbcfcc5e0c2ba5f182cd41dca.jpg
/public/uploads/1737921325951a76df1a0bc62f98bbcfcc5e0c2ba5f182cd41dca.jpg
/public/uploads/1737921416546Untitled_video_-_Made_with_Clipchamp.gif
/public/uploads/1737922481609soup.jpg
/public/uploads/17379197344590000-0018.gif
/.idea/jsLibraryMappings.xml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Recipe_Blog_Node.iml
/.idea/vcs.xml
